.app{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%,-50%);
	background-color: #363636;
	padding: 15px;
	border-radius: 15px;
	width: 20%;
	height: 60%;
	color: white
}
#name,#age,#civilStatus,#docType, #document { 
	width: 100%;
  clear: both;
}
.sortEarliest{
	position: absolute;
	top: 21%;
	left: 66%;
	transform: translate(-50%,-50%);
	font-size: 25px;
}
.sortLatest{
	position: absolute;
	top: 21%;
	left: 69%;
	transform: translate(-50%,-50%);
	font-size: 25px;
}